01_flows/06_revised_all_medicare_years.yaml
id: 04_all_medicare_years
namespace: medicare
description: |
  Downloads each year of Medicare Physician and Provider data and merge into 1 BQ dataset.

inputs:
  - id: medicare_year
    type: SELECT
    displayName: Select CMS Year Data
    values:
      - "2022"
      - "2021"
      - "2020"
      - "2019"
      - "2018"
      - "2017"
      - "2016"
      - "2015"
      - "2014"
      - "2013"
    defaults: "2022"

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
      dataset: "{{kv('GCP_DATASET')}}"

variables:
  urls_map: {
      "2022": "https://data.cms.gov/sites/default/files/2024-06/5aed74f7-d04e-48b4-93b3-d396a2e59c87/MUP_PHY_R24_P07_V10_D22_Prov.csv",
      "2021": "https://data.cms.gov/sites/default/files/2024-06/bc3a06d3-fdae-4cc0-b3ae-9738f3f0f8dc/MUP_PHY_R24_P07_V10_D21_Prov.csv",
      "2020": "https://data.cms.gov/sites/default/files/2024-06/b75471cb-ca28-4a7f-93f4-69571b5fb605/MUP_PHY_R24_P07_V10_D20_Prov.csv",
      "2019": "https://data.cms.gov/sites/default/files/2024-06/940ed5c1-eee3-4b2a-bb9a-3626670c6cf0/MUP_PHY_R24_P07_V10_D19_Prov.csv",
      "2018": "https://data.cms.gov/sites/default/files/2024-06/9925fe87-8675-4fd7-8208-579654edf79f/MUP_PHY_R24_P07_V10_D18_Prov.csv",
      "2017": "https://data.cms.gov/sites/default/files/2024-06/14538846-95ce-4bfb-8183-33cdff149408/MUP_PHY_R24_P07_V10_D17_Prov.csv",
      "2016": "https://data.cms.gov/sites/default/files/2024-06/b5b8f45d-869c-45f2-b2b4-b5d0d843c67e/MUP_PHY_R24_P05_V10_D16_Prov.csv",
      "2015": "https://data.cms.gov/sites/default/files/2024-06/403cf35f-148c-45af-9cc0-84abf111f286/MUP_PHY_R24_P05_V10_D15_Prov.csv",
      "2014": "https://data.cms.gov/sites/default/files/2024-06/98113a92-3a85-4c65-93fa-d3ede5fc9de9/MUP_PHY_R24_P05_V10_D14_Prov.csv",
      "2013": "https://data.cms.gov/sites/default/files/2024-06/b42010e8-2029-4adc-b9ef-231d0fecb413/MUP_PHY_R24_P05_V10_D13_Prov.csv"
  }

tasks:
  - id: log_test
    type: io.kestra.plugin.core.log.Log
    message: "{{ vars.urls_map[inputs.medicare_year] }}"

variables:
  file: "{{inputs.medicare_year}}"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.{{inputs.medicare_year}}"
  data: "{{outputs.extract.outputFiles[inputs.medicare_year]}}"

tasks:
  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- {{inputs.medicare_year}} > {{render(vars.file)}}

  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{inputs.medicare_year}}"
      year: "2022"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  - id: bq_medicare_data
    projectId: "{{kv('GCP_PROJECT_ID')}}"
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
          CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.providers`
          (
              unique_row_id BYTES,
              filename STRING,
              rndrng_npi STRING,
              rndrng_prvdr_last_org_name STRING,
              rndrng_prvdr_first_name STRING,
              rndrng_prvdr_mi STRING,
              rndrng_prvdr_crdntls STRING,
              rndrng_prvdr_gndr STRING,
              rndrng_prvdr_ent_cd STRING,
              rndrng_prvdr_st1 STRING,
              rndrng_prvdr_st2 STRING,
              rndrng_prvdr_city STRING,
              rndrng_prvdr_state_abrvtn STRING,
              rndrng_prvdr_state_fips STRING,
              rndrng_prvdr_zip5 STRING,
              rndrng_prvdr_ruca STRING,
              rndrng_prvdr_ruca_desc STRING,
              rndrng_prvdr_cntry STRING,
              rndrng_prvdr_type STRING,
              rndrng_prvdr_mdcr_prtcptg_ind STRING,
              tot_hcpcs_cds NUMERIC,
              tot_benes NUMERIC,
              tot_srvcs NUMERIC,
              tot_sbmtd_chrg NUMERIC,
              tot_mdcr_alowd_amt NUMERIC,
              tot_mdcr_pymt_amt NUMERIC,
              tot_mdcr_stdzd_amt NUMERIC,
              drug_sprsn_ind STRING,
              drug_tot_hcpcs_cds NUMERIC,
              drug_tot_benes NUMERIC,
              drug_tot_srvcs NUMERIC,
              drug_sbmtd_chrg NUMERIC,
              drug_mdcr_alowd_amt NUMERIC,
              drug_mdcr_pymt_amt NUMERIC,
              drug_mdcr_stdzd_amt NUMERIC,
              med_sprsn_ind STRING,
              med_tot_hcpcs_cds NUMERIC,
              med_tot_benes NUMERIC,
              med_tot_srvcs NUMERIC,
              med_sbmtd_chrg NUMERIC,
              med_mdcr_alowd_amt NUMERIC,
              med_mdcr_pymt_amt NUMERIC,
              med_mdcr_stdzd_amt NUMERIC,
              bene_avg_age NUMERIC,
              bene_age_lt_65_cnt NUMERIC,
              bene_age_65_74_cnt NUMERIC,
              bene_age_75_84_cnt NUMERIC,
              bene_age_gt_84_cnt NUMERIC,
              bene_feml_cnt NUMERIC,
              bene_male_cnt NUMERIC,
              bene_race_wht_cnt NUMERIC,
              bene_race_black_cnt NUMERIC,
              bene_race_api_cnt NUMERIC,
              bene_race_hspnc_cnt NUMERIC,
              bene_race_nat_ind_cnt NUMERIC,
              bene_race_othr_cnt NUMERIC,
              bene_dual_cnt NUMERIC,
              bene_ndual_cnt NUMERIC,
              bene_cc_bh_adhd_oth_cd_v1_pct NUMERIC,
              bene_cc_bh_alcohol_drug_v1_pct NUMERIC,
              bene_cc_bh_tobacco_v1_pct NUMERIC,
              bene_cc_bh_alz_non_alzdem_v2_pct NUMERIC,
              bene_cc_bh_anxiety_v1_pct NUMERIC,
              bene_cc_bh_bipolar_v1_pct NUMERIC,
              bene_cc_bh_mood_v2_pct NUMERIC,
              bene_cc_bh_depress_v1_pct NUMERIC,
              bene_cc_bh_pd_v1_pct NUMERIC,
              bene_cc_bh_ptsd_v1_pct NUMERIC,
              bene_cc_bh_schizo_oth_psy_v1_pct NUMERIC,
              bene_cc_ph_asthma_v2_pct NUMERIC,
              bene_cc_ph_afib_v2_pct NUMERIC,
              bene_cc_ph_cancer6_v2_pct NUMERIC,
              bene_cc_ph_ckd_v2_pct NUMERIC,
              bene_cc_ph_copd_v2_pct NUMERIC,
              bene_cc_ph_diabetes_v2_pct NUMERIC,
              bene_cc_ph_hf_non_ihd_v2_pct NUMERIC,
              bene_cc_ph_hyperlipidemia_v2_pct NUMERIC,
              bene_cc_ph_hypertension_v2_pct NUMERIC,
              bene_cc_ph_ischemic_heart_v2_pct NUMERIC,
              bene_cc_ph_osteoporosis_v2_pct NUMERIC,
              bene_cc_ph_parkinson_v2_pct NUMERIC,
              bene_cc_ph_arthritis_v2_pct NUMERIC,
              bene_cc_ph_stroke_tia_v2_pct NUMERIC,
              bene_avg_risk_scre NUMERIC
          )
          CLUSTER BY rndrng_prvdr_type;

  - id: bq_medicare_ext
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{render(vars.table)}}_ext`
      (
              rndrng_npi STRING,
              rndrng_prvdr_last_org_name STRING,
              rndrng_prvdr_first_name STRING,
              rndrng_prvdr_mi STRING,
              rndrng_prvdr_crdntls STRING,
              rndrng_prvdr_gndr STRING,
              rndrng_prvdr_ent_cd STRING,
              rndrng_prvdr_st1 STRING,
              rndrng_prvdr_st2 STRING,
              rndrng_prvdr_city STRING,
              rndrng_prvdr_state_abrvtn STRING,
              rndrng_prvdr_state_fips STRING,
              rndrng_prvdr_zip5 STRING,
              rndrng_prvdr_ruca STRING,
              rndrng_prvdr_ruca_desc STRING,
              rndrng_prvdr_cntry STRING,
              rndrng_prvdr_type STRING,
              rndrng_prvdr_mdcr_prtcptg_ind STRING,
              tot_hcpcs_cds NUMERIC,
              tot_benes NUMERIC,
              tot_srvcs NUMERIC,
              tot_sbmtd_chrg NUMERIC,
              tot_mdcr_alowd_amt NUMERIC,
              tot_mdcr_pymt_amt NUMERIC,
              tot_mdcr_stdzd_amt NUMERIC,
              drug_sprsn_ind STRING,
              drug_tot_hcpcs_cds NUMERIC,
              drug_tot_benes NUMERIC,
              drug_tot_srvcs NUMERIC,
              drug_sbmtd_chrg NUMERIC,
              drug_mdcr_alowd_amt NUMERIC,
              drug_mdcr_pymt_amt NUMERIC,
              drug_mdcr_stdzd_amt NUMERIC,
              med_sprsn_ind STRING,
              med_tot_hcpcs_cds NUMERIC,
              med_tot_benes NUMERIC,
              med_tot_srvcs NUMERIC,
              med_sbmtd_chrg NUMERIC,
              med_mdcr_alowd_amt NUMERIC,
              med_mdcr_pymt_amt NUMERIC,
              med_mdcr_stdzd_amt NUMERIC,
              bene_avg_age NUMERIC,
              bene_age_lt_65_cnt NUMERIC,
              bene_age_65_74_cnt NUMERIC,
              bene_age_75_84_cnt NUMERIC,
              bene_age_gt_84_cnt NUMERIC,
              bene_feml_cnt NUMERIC,
              bene_male_cnt NUMERIC,
              bene_race_wht_cnt NUMERIC,
              bene_race_black_cnt NUMERIC,
              bene_race_api_cnt NUMERIC,
              bene_race_hspnc_cnt NUMERIC,
              bene_race_nat_ind_cnt NUMERIC,
              bene_race_othr_cnt NUMERIC,
              bene_dual_cnt NUMERIC,
              bene_ndual_cnt NUMERIC,
              bene_cc_bh_adhd_oth_cd_v1_pct NUMERIC,
              bene_cc_bh_alcohol_drug_v1_pct NUMERIC,
              bene_cc_bh_tobacco_v1_pct NUMERIC,
              bene_cc_bh_alz_non_alzdem_v2_pct NUMERIC,
              bene_cc_bh_anxiety_v1_pct NUMERIC,
              bene_cc_bh_bipolar_v1_pct NUMERIC,
              bene_cc_bh_mood_v2_pct NUMERIC,
              bene_cc_bh_depress_v1_pct NUMERIC,
              bene_cc_bh_pd_v1_pct NUMERIC,
              bene_cc_bh_ptsd_v1_pct NUMERIC,
              bene_cc_bh_schizo_oth_psy_v1_pct NUMERIC,
              bene_cc_ph_asthma_v2_pct NUMERIC,
              bene_cc_ph_afib_v2_pct NUMERIC,
              bene_cc_ph_cancer6_v2_pct NUMERIC,
              bene_cc_ph_ckd_v2_pct NUMERIC,
              bene_cc_ph_copd_v2_pct NUMERIC,
              bene_cc_ph_diabetes_v2_pct NUMERIC,
              bene_cc_ph_hf_non_ihd_v2_pct NUMERIC,
              bene_cc_ph_hyperlipidemia_v2_pct NUMERIC,
              bene_cc_ph_hypertension_v2_pct NUMERIC,
              bene_cc_ph_ischemic_heart_v2_pct NUMERIC,
              bene_cc_ph_osteoporosis_v2_pct NUMERIC,
              bene_cc_ph_parkinson_v2_pct NUMERIC,
              bene_cc_ph_arthritis_v2_pct NUMERIC,
              bene_cc_ph_stroke_tia_v2_pct NUMERIC,
              bene_avg_risk_scre NUMERIC
      )
      OPTIONS (
          format = 'CSV',
          uris = ['{{render(vars.gcs_file)}}'],
          skip_leading_rows = 1
      );

  - id: bq_medicare_provider_tmp
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}`
      AS
      SELECT
        MD5(CONCAT(
          COALESCE(CAST(rndrng_npi AS STRING), ""),
          COALESCE(CAST("{{render(vars.file)}}" AS STRING), "")
        )) AS unique_row_id,
        "{{render(vars.file)}}" AS filename,
        *
      FROM `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`;

  - id: bq_medicare_provider_merge
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.providers` T
      USING `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}` S
      ON T.unique_row_id = S.unique_row_id
      WHEN NOT MATCHED THEN
        INSERT (unique_row_id, filename, rndrng_npi,
          rndrng_prvdr_last_org_name, rndrng_prvdr_first_name, rndrng_prvdr_mi,rndrng_prvdr_crdntls, rndrng_prvdr_gndr, rndrng_prvdr_ent_cd, rndrng_prvdr_st1, rndrng_prvdr_st2, rndrng_prvdr_city,rndrng_prvdr_state_abrvtn, rndrng_prvdr_state_fips, rndrng_prvdr_zip5, rndrng_prvdr_ruca, rndrng_prvdr_ruca_desc, rndrng_prvdr_cntry,rndrng_prvdr_type, rndrng_prvdr_mdcr_prtcptg_ind, tot_hcpcs_cds, tot_benes,tot_srvcs, tot_sbmtd_chrg, tot_mdcr_alowd_amt, tot_mdcr_pymt_amt,tot_mdcr_stdzd_amt, drug_sprsn_ind, drug_tot_hcpcs_cds, drug_tot_benes,drug_tot_srvcs, drug_sbmtd_chrg, drug_mdcr_alowd_amt, drug_mdcr_pymt_amt,drug_mdcr_stdzd_amt, med_sprsn_ind, med_tot_hcpcs_cds, med_tot_benes,med_tot_srvcs, med_sbmtd_chrg, med_mdcr_alowd_amt, med_mdcr_pymt_amt,med_mdcr_stdzd_amt, bene_avg_age, bene_age_lt_65_cnt, bene_age_65_74_cnt,bene_age_75_84_cnt, bene_age_gt_84_cnt, bene_feml_cnt, bene_male_cnt,bene_race_wht_cnt, bene_race_black_cnt, bene_race_api_cnt,bene_race_hspnc_cnt, bene_race_nat_ind_cnt, bene_race_othr_cnt,bene_dual_cnt, bene_ndual_cnt, bene_cc_bh_adhd_oth_cd_v1_pct,bene_cc_bh_alcohol_drug_v1_pct, bene_cc_bh_tobacco_v1_pct,bene_cc_bh_alz_non_alzdem_v2_pct, bene_cc_bh_anxiety_v1_pct,bene_cc_bh_bipolar_v1_pct, bene_cc_bh_mood_v2_pct, bene_cc_bh_depress_v1_pct, bene_cc_bh_pd_v1_pct, bene_cc_bh_ptsd_v1_pct, bene_cc_bh_schizo_oth_psy_v1_pct, bene_cc_ph_asthma_v2_pct, bene_cc_ph_afib_v2_pct, bene_cc_ph_cancer6_v2_pct, bene_cc_ph_ckd_v2_pct,bene_cc_ph_copd_v2_pct, bene_cc_ph_diabetes_v2_pct, bene_cc_ph_hf_non_ihd_v2_pct, bene_cc_ph_hyperlipidemia_v2_pct,bene_cc_ph_hypertension_v2_pct, bene_cc_ph_ischemic_heart_v2_pct,bene_cc_ph_osteoporosis_v2_pct, bene_cc_ph_parkinson_v2_pct,bene_cc_ph_arthritis_v2_pct, bene_cc_ph_stroke_tia_v2_pct,
          bene_avg_risk_scre)
        VALUES (S.unique_row_id, S.filename, S.rndrng_npi,
          S.rndrng_prvdr_last_org_name, S.rndrng_prvdr_first_name, S.rndrng_prvdr_mi,S.rndrng_prvdr_crdntls, S.rndrng_prvdr_gndr, S.rndrng_prvdr_ent_cd,
          S.rndrng_prvdr_st1, S.rndrng_prvdr_st2, S.rndrng_prvdr_city,
          S.rndrng_prvdr_state_abrvtn, S.rndrng_prvdr_state_fips, S.rndrng_prvdr_zip5,S.rndrng_prvdr_ruca, S.rndrng_prvdr_ruca_desc, S.rndrng_prvdr_cntry,
          S.rndrng_prvdr_type, S.rndrng_prvdr_mdcr_prtcptg_ind, S.tot_hcpcs_cds,
          S.tot_benes, S.tot_srvcs, S.tot_sbmtd_chrg, S.tot_mdcr_alowd_amt,
          S.tot_mdcr_pymt_amt, S.tot_mdcr_stdzd_amt, S.drug_sprsn_ind,
          S.drug_tot_hcpcs_cds, S.drug_tot_benes, S.drug_tot_srvcs, S.drug_sbmtd_chrg,
          S.drug_mdcr_alowd_amt, S.drug_mdcr_pymt_amt, S.drug_mdcr_stdzd_amt,
          S.med_sprsn_ind, S.med_tot_hcpcs_cds, S.med_tot_benes, S.med_tot_srvcs,
          S.med_sbmtd_chrg, S.med_mdcr_alowd_amt, S.med_mdcr_pymt_amt,
          S.med_mdcr_stdzd_amt, S.bene_avg_age, S.bene_age_lt_65_cnt,
          S.bene_age_65_74_cnt, S.bene_age_75_84_cnt, S.bene_age_gt_84_cnt,
          S.bene_feml_cnt, S.bene_male_cnt, S.bene_race_wht_cnt,
          S.bene_race_black_cnt, S.bene_race_api_cnt, S.bene_race_hspnc_cnt,
          S.bene_race_nat_ind_cnt, S.bene_race_othr_cnt, S.bene_dual_cnt,
          S.bene_ndual_cnt, S.bene_cc_bh_adhd_oth_cd_v1_pct,
          S.bene_cc_bh_alcohol_drug_v1_pct, S.bene_cc_bh_tobacco_v1_pct,
          S.bene_cc_bh_alz_non_alzdem_v2_pct, S.bene_cc_bh_anxiety_v1_pct,
          S.bene_cc_bh_bipolar_v1_pct, S.bene_cc_bh_mood_v2_pct,
          S.bene_cc_bh_depress_v1_pct, S.bene_cc_bh_pd_v1_pct,
          S.bene_cc_bh_ptsd_v1_pct, S.bene_cc_bh_schizo_oth_psy_v1_pct,
          S.bene_cc_ph_asthma_v2_pct, S.bene_cc_ph_afib_v2_pct,
          S.bene_cc_ph_cancer6_v2_pct, S.bene_cc_ph_ckd_v2_pct,
          S.bene_cc_ph_copd_v2_pct, S.bene_cc_ph_diabetes_v2_pct,
          S.bene_cc_ph_hf_non_ihd_v2_pct, S.bene_cc_ph_hyperlipidemia_v2_pct,
          S.bene_cc_ph_hypertension_v2_pct, S.bene_cc_ph_ischemic_heart_v2_pct,
          S.bene_cc_ph_osteoporosis_v2_pct, S.bene_cc_ph_parkinson_v2_pct,
          S.bene_cc_ph_arthritis_v2_pct, S.bene_cc_ph_stroke_tia_v2_pct,
          S.bene_avg_risk_scre);


  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

